p {

}

#leftNavigation {
	width: 20%;
	background-color: green;
	position:relative;
}
#topNavigation {
	height: 15%;
	width:100%;
	background-color: blue;
	text-align:center;
}
#content {
	background-color:yellow;
	//position:relative;
	//left:20%;	
	width:80%;
}
#footer {
	background-color:red;
	text-align:center;
}
#contentAlign {
	width:100%;
	display:table;
}
#contentAlign .col {
  display: table-cell;
  padding: 10px;
}
#loginButton {
	position:relative;
	right:0px;
	top:0px;
}
