p {

}

#leftNavigation {
	width: 20%;
	background-image: url("background.png");
	position:relative;
	min-height:100vh;
}
#topNavigation {
	height: 15%;
	width:100%;
	background-image: url("topBackground.png");
	text-align:center;
}
#content {
	background-color:white;
	//position:relative;
	//left:20%;	
	width:80%;
}
#footer {
	background-color:purple;
	text-align:center;
	left-padding:5%;
	height:7%;
}
#contentAlign {
	width:100%;
	display:table;
	min-height:100vh;
}
#contentAlign .col {
  display: table-cell;
  padding: 10px;
}
#loginButton {
	position:absolute;
	right:0px;
	top:0px;
}

.messageRow {
	
}
#chatMessagesList {
	height:60vh;
	overflow:hidden; 
	overflow-y:scroll;
}

