<html>
  <head>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	 <link rel="stylesheet" type="text/css" href="/static/decoration.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>

	{% if title %}
    <title>{{ title }} - Anachat</title>
    {% else %}
    <title>Welcome to AnaChat</title>
    {% endif %}
  </head>
  <body>
	<div id="topNavigation">
		<div id="loginButton">
			<button type="button" class="btn btn-default">Login</button>
		</div>
		test
	</div>
	<div id="contentAlign">
		<div id="leftNavigation" class="col">
			test
		</div>
		<div id="content"  class="col">
			    {% block content %}{% endblock %}
		</div>
	</div>
	<div id="footer">AnaChat</div>
  </body>
</html>
