<html>
  <head>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	 <link rel="stylesheet" type="text/css" href="/static/decoration.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	{% if title %}
    <title>{{ title }} - Anachat</title>
    {% else %}
    <title>Welcome to AnaChat</title>
    {% endif %}
  </head>
  <body>
	<div id="topNavigation">
		<div id="loginButton">
			{% if loggedIn %}
				<form method="POST" action="/logout">
				<button type="submit" formaction="/logout"  class="btn btn-default">Logout</button>
				<input type="hidden" id="csrf_token"  name="csrf_token" value="{{ csrf_token() }}" />
				</form>
		    {% else %}
				<button type="button" class="btn btn-default">Login</button>
		    {% endif %}
		</div>
	</div>
	<div id="contentAlign">
		{% include "leftNavigation.html" %}
		<div id="content"  class="col">
			    {% block content %}{% endblock %}
		</div>
	</div>
	<div id="footer">AnaChat</div>
  </body>
</html>
